force-app/main/default/flows/Enter_Job_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Candidate_Id</name>
        <label>Set Candidate Id</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varCandidateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>candidates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Application</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>candidates</name>
        <dataType>String</dataType>
        <displayField>Last_Name__c</displayField>
        <limit>10</limit>
        <object>Candidate__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>positionDepartment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Department__c</picklistField>
        <picklistObject>Position__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>positionsInDepartment</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Position.Department__c</elementReference>
            </value>
        </filters>
        <object>Position__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>*Enter Job Application* {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Enter Job Application*</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job_Application</name>
        <label>Create Job Application</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>varJobApplicationId</assignRecordIdToReference>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>candidates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>varPositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Phone Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Application__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Position</name>
        <label>Get Position</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Job_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPositionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_Job_Application</name>
        <label>Enter Job Application</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Candidate_Id</targetReference>
        </connector>
        <fields>
            <name>Candidate</name>
            <choiceReferences>candidates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Candidate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varJobApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
