force-app/main/default/flows/Recruiter_Phone_Screen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Review_Score</name>
        <label>Assign Review Score</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varReviewScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.65</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>overallScore</name>
        <dataType>Number</dataType>
        <expression>({!CompanyValues.value} + {!Experience.value} + {!Leadership_Skills.value} + IF({!RecommendForHire.value}, 5, 1) ) / 4</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>*Recruiter Phone Screen* {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Recruiter Phone Screen*</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Review</name>
        <label>Create Review</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>varReviewId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Review_Score</targetReference>
        </connector>
        <inputAssignments>
            <field>Cultural_Comments__c</field>
            <value>
                <elementReference>Company_Values_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultural_Fit__c</field>
            <value>
                <elementReference>CompanyValues.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Comments__c</field>
            <value>
                <elementReference>Experience_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience__c</field>
            <value>
                <elementReference>Experience.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>varJobApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Comments__c</field>
            <value>
                <elementReference>Leadership_Skills_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Skills__c</field>
            <value>
                <elementReference>Leadership_Skills.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommend_for_Hire__c</field>
            <value>
                <elementReference>RecommendForHire.value</elementReference>
            </value>
        </inputAssignments>
        <object>Review__c</object>
    </recordCreates>
    <screens>
        <name>Recruiter_Review</name>
        <label>Recruiter Review</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Review</targetReference>
        </connector>
        <fields>
            <name>Experience</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rate this candidate&apos;s experience.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Experience_Comments</name>
            <dataType>String</dataType>
            <fieldText>Experience Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Leadership_Skills</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rate this candidate&apos;s leadership skills.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Leadership_Skills_Comments</name>
            <dataType>String</dataType>
            <fieldText>Leadership Skills Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CompanyValues</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does this candidate uphold our company values?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company_Values_Comments</name>
            <dataType>String</dataType>
            <fieldText>Company Values Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecommendForHire</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Recommend for Hire?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recruiter_Review</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varJobApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReviewScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
