orchestrator/main/default/flows/Recruiting_Orchestration_v6.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Advance_to_Next_Round</name>
        <label>Advance to Next Round?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Candidate_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recruiter_Phone_Screen.Outputs.varReviewScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hiring_Manager_Interview_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Make_Offer</name>
        <label>Make Offer?</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hiring_Manager_Interview.Outputs.continueWithNextStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_and_Send_Offer_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>**Recruiting Orchestration** {!$Flow.CurrentDateTime}</interviewLabel>
    <label>**Recruiting Orchestration**</label>
    <orchestratedStages>
        <name>Candidate_Rejected</name>
        <label>Candidate Rejected</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Make_Offer</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Thank_You_for_Your_Interest</name>
            <actionName>Thank_You_For_Your_Interest</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Thank You for Your Interest</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_and_Send_Offer_Stage</name>
        <label>Create and Send Offer</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_and_Send_Offer</name>
            <actionName>Create_and_Email_Offer</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Hiring_Manager__r.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varJobApplicationId</name>
                <value>
                    <elementReference>Enter_Job_Application.Outputs.varJobApplicationId</elementReference>
                </value>
            </inputParameters>
            <label>Create and Send Offer</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Hiring_Manager_Interview_Stage</name>
        <label>Hiring Manager Interview</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Make_Offer</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Interview_Scheduled</name>
            <actionName>Interview_Scheduled</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Interview Scheduled</label>
        </stageSteps>
        <stageSteps>
            <name>Hiring_Manager_Interview</name>
            <actionName>Hiring_Manager_Review</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Hiring_Manager__r.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Interview_Scheduled.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varJobApplicationId</name>
                <value>
                    <elementReference>Enter_Job_Application.Outputs.varJobApplicationId</elementReference>
                </value>
            </inputParameters>
            <label>Hiring Manager Interview</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Initial_Screening</name>
        <label>Initial Screening</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Advance_to_Next_Round</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Enter_Job_Application</name>
            <actionName>Enter_Job_Application</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varPositionId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Enter Job Application</label>
        </stageSteps>
        <stageSteps>
            <name>Phone_Screen_Scheduled</name>
            <actionName>Phone_Screening_Scheduled</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Enter_Job_Application.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>varCandidateId</name>
                <value>
                    <elementReference>Enter_Job_Application.Outputs.varCandidateId</elementReference>
                </value>
            </inputParameters>
            <label>Phone Screen Scheduled</label>
        </stageSteps>
        <stageSteps>
            <name>Recruiter_Phone_Screen</name>
            <actionName>Recruiter_Phone_Screen</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Phone_Screen_Scheduled.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>jobApplicationId</name>
                <value>
                    <elementReference>Enter_Job_Application.Outputs.varJobApplicationId</elementReference>
                </value>
            </inputParameters>
            <label>Recruiter Phone Screen</label>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screening</targetReference>
        </connector>
        <object>Position__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
